@inherits UmbracoViewPage
@using Umbraco.Cms.Core.Security;
@{
    var site = Model.Root<ContentModels.Site>();
}

<Footer class="bg-slate-700 py-8">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 items-center gap-4 md:gap-8">
            <div>
                @if (!site.FooterTitle.IsNullOrWhiteSpace())
                {
                    <h3 class="font-montserrat uppercase font-semibold text-white text-xl text-center md:text-left">@site?.FooterTitle</h3>
                }

                @if (!site.FooterEmail.IsNullOrWhiteSpace())
                {
                    <div class="flex flex-row items-center justify-center md:justify-start gap-2 mb-2 md:mb-0">
                        <ec-svg src="~/img/icons/envelope.svg" alt="envelope" class="w-5 h-10 object-cover text-white shrink-0"></ec-svg>
                        <a href="mailto:@site.FooterEmail" class="text-white text-16 md:text-14 lg:text-16 hover:text-ui-blue transition-all ease-in-out">@site?.FooterEmail</a>
                    </div>
                }

                @if (site?.FooterSocialLinks != null && site.FooterSocialLinks.Any())
                {
                    <div class="flex flex-row justify-center items-center md:justify-start gap-2 mb-4">
                        @foreach (var item in site.FooterSocialLinks)
                        {
                            <a href="@item.Url" target="_@item.Target" title="@item.Name">

                                @if (item.Url.Contains("facebook"))
                                {
                                    <img src="~/img/icons/facebook.svg" alt="facebook" class="w-8 h-8 object-cover" />
                                }

                                @if (item.Url.Contains("telegram"))
                                {
                                    <img src="~/img/icons/telegram.svg" alt="linkedin" class="w-8 h-8 object-cover" />
                                }

                                @*
                                    @if (!item.Url.Contains("telegram") || !item.Url.Contains("facebook"))
                                    {
                                        @item.Name
                                    }
                                *@

                            </a>
                        }
                    </div>
                }
            </div>
            <div>
                @if (site.FooterDescription != null)
                {
                    <div class="footerrte | text-white max-w-[15rem] md:max-w-none mx-auto">@site.FooterDescription</div>
                }
            </div>
            <div class="flex flex-row items-center gap-x-2 mx-auto">
                <a href="https://www.rofus.nu/" target="_blank">
                    <img src="~/img/rofus-logo.png" alt="rofuslogo" class="w-32 2xl:w-full h-full object-cover" />
                </a>
                <a href="https://www.stopspillet.dk/" target="_blank">
                    <img src="~/img/stop-spillet.png" alt="stopspillet" class="w-32 2xl:w-full h-full object-cover" />
                </a>
                    
                <a href="https://spilreklamenaevnet.dk/" target="_blank">
                    <img src="~/img/spilleNævnet.png" alt="spillenaevnet" class="w-32 2xl:w-full h-full object-cover" />
                </a>
            </div>
        </div>
        

        @if (site.FooterSecondaryDescription != null)
        {
            <div class="border-t border-white border-t-px pt-4">
                <div class="flex flex-row items-center justify-center text-white font-karla">@site.FooterSecondaryDescription</div>
            </div>
        } else
        {
            <div class="border-t border-white border-t-px pt-4">
                <span class="flex flex-row items-center justify-center text-white">
                    <span class="font-karla">D-bet.dk © 2023 All rights served</span>
                </span>
            </div>
        }
    </div> 
</Footer>