@inherits UmbracoViewPage<ContentModels.ITopbannerComposition> 

<div 
	x-data="{}"
	x-init="window.tns({
		container: $refs.topbannercontainer,
		arrowKeys: false,
		nav: false,
		mouseDrag: true,
		items: 1,
	});
	"
	class="relative overflow-hidden"
>
	<div x-ref="topbannercontainer" class="flex flex-nowrap flex-row overflow-hidden">
		@foreach (BlockListItem<ContentModels.TopbannerWithImageElement> item in Model.Topbanner) {
			<div class="relative overflow-hidden h-[31.8125rem] md:h-[34rem] lg:h-[56.25rem] w-full">
				@if (item.Content.Image != null)
				{	
					<div class="@(item.Content.Overlay ? "overlay" : "") absolute inset-0 overflow-hidden">
						@if (item.Content.Image.Url().EndsWith(".mp4"))
						{
							<video class="w-full h-full object-cover" muted autoplay playsinline loop>
								<source src="@item.Content.Image.Url()" type="video/@item.Content.Image.Value("umbracoExtension")">
							</video>
						} else {
							<ec-picture media="@item.Content.Image" width="2000" quality="0" alt="" img-class="w-full h-full object-cover"></ec-picture>
						}
					</div>
				} else if (!item.Content.YoutubeVimeoVideo.IsNullOrWhiteSpace())
				{
					<div class="@(item.Content.Overlay ? "overlay" : "") absolute inset-0 overflow-hidden">
						<iframe src="@item.Content.YoutubeVimeoVideo" class="absolute w-full h-full" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
					</div>
				} 
				<div class="container z-10 relative h-full z-40 pb-[4.375rem] md:pb-[5rem] lg:pb-[13.81rem]">
					<div class="flex flex-col h-full justify-center items-center">
						@if (item.Content.Header != null && item.Content.Header.Any())
						{
							<h1 class="rte-header || @(item.Content.Overlay ? "text-white" : "") text-38 md:text-55 lg:text-88 font-semibold leading-[3.125rem] md:leading-[4rem] lg:leading-[5.625rem] max-w-[20rem] md:max-w-[28.125rem] lg:max-w-6xl drop-shadow-sm font-montserrat">@item.Content.Header</h1>
						} 
						@if (item.Content.Description != null && item.Content.Description.Any()) 
						{
							<p class="@(item.Content.Overlay ? "text-white" : "") font-karla">@item.Content.Description</p>   
						}
						@if (item.Content.Link != null) {
							<a href="@item.Content.Link.Url" class="border border-2 bg-transparent uppercase font-montserrat text-20 text-white font-semibold px-8 py-4 mt-12 transition-all ease-in-out hover:bg-white hover:text-black hover:font-semibold">@item.Content.Link.Name</a>
						}
					</div>
				</div>
			</div>
		}
	</div>
</div>

<style>
    .tns-controls {
        display: none;
    }

	.tns-visually-hidden {
		display: none; 
	}
</style>